<% layout("/layouts/boilerplate") %>


<div class="col-6 offset-3">
  <div class="alert alert-danger d-flex align-items-center" role="alert">
    <i class="fa-solid fa-triangle-exclamation me-2"></i>
    <div>
      <h4 class="alert-heading mb-0"><%= message %></h4>
      <p>Status Code: <%= statusCode %></p>
    </div>
  </div>
</div>
