<% layout('./layouts/boilerplate') %>

<style>
    #filters {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .filter {
        text-align: center;
        margin-right: 2rem;
        margin-top: 2rem;
        opacity: 0.7;
    }

    .filter:hover {
        opacity: 1;
        cursor: pointer;
    }

    .filter p {
        font-size: 0.8rem;
    }

    .tax-info {
        display: none;
    }
    .text-togle {
        border: 1px solid black;
        border-radius: 1rem;
        height: 3.20rem;
        padding: 1rem;
        display: flex;
        align-items: center;
    }

</style>

<div id="filters">
    <div class="filter">
        <div><i class="fa-solid fa-fire"></i></div>
            <p>Trending</p>
    </div>
    <div class="filter">
        <div><i class="fa-solid fa-bed"></i></div>
            <p>Roome</p>
    </div>
    <div class="filter">
        <div><i class="fa-solid fa-mountain-city"></i></div>
            <p>Iconic Cities</p>
    </div>
    <div class="filter">
        <div><i class="fa-solid fa-mountain"></i></div>
            <p>Mountains</p>
    </div> 
    <div class="filter">
        <div><i class="fa-solid fa-tower-observation"></i></div>
            <p>Castles</p>
    </div>

    <div class="filter">
        <div><i class="fa-solid fa-person-swimming"></i></div>
            <p>Amazing Pool</p>
    </div>
    <div class="filter">
        <div><i class="fa-solid fa-person-hiking"></i></div>
            <p>Camping</p>
    </div> 
    <div class="filter">
        <div><i class="fa-solid fa-tractor"></i></div>
            <p>Farms</p>
    </div>

    <div class="filter">
        <div><i class="fa-solid fa-snowflake"></i></div>
            <p>Arctic</p>
    </div>   

    <div class="filter">
        <div><i class="fa-solid fa-landmark"></i></div>
            <p>Domes</p>
    </div>

    <div class="filter">
        <div><i class="fa-solid fa-ship"></i></div>
            <p>Ships</p>
    </div>
    <div class="text-togle">
        <div class="form-check-reverse form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
            <label class="form-check-label" for="switchCheckDefault">Display total after texes</label>
        </div>
    </div>
</div>

<div class="container mt-4">
    <!-- <h3>All Listings</h3> -->

    <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1 mt-3">
        <% for (let listing of allListings) { %>
            <div class="col mb-3">
                <a href="/listings/<%= listing._id %>" class="text-decoration-none text-dark">
                    <div class="card h-100 listing-card">
                        <img src="<%= listing.image.url %>" 
                             class="card-img-top"
                             alt="listing image"
                             style="height: 200px; object-fit: cover;">

                        <div class="card-body">
                            <h5 class="card-title"><%= listing.title %></h5>
                            <p class="card-text">
                                Rs <%= listing.price.toLocaleString("en-PK") %> / night
                                <i class="tax-info"> &nbsp; &nbsp; +18% GST</i>
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        <% } %>
    </div>
</div>

<script>
    let taxSwitch = document.getElementById("switchCheckDefault");
    taxSwitch.addEventListener("click",() => {
        let taxinfo = document.getElementsByClassName("tax-info");
        for (info of taxinfo) {
            if (taxSwitch.checked) {
                info.style.display = "inline";
            } else {
                info.style.display = "none";
            }
        }
    });
</script>
